.SideDrawer
  position: absolute
  z-index: 200
  top: 45px
  left: 0

  width: 100%
  height: calc(100% - 45px)

  background-color: #000
  box-sizing: border-box

@media (max-width: 499px)
  .SideDrawer
    transition: transform .15s ease-out

    &.Open
      transform: translateX(0)

    &.Close
      transform: translateX(-100%)

@media (min-width: 500px)
  .SideDrawer
    display: none
