.SideDrawer
  grid-area: b

  width: 100%
  height: 100%
  z-index: 200

  background-color: #fff
  box-sizing: border-box

@media (max-width: 499px)
  .SideDrawer
    transition: transform .15s ease-out

    &.Open
      transform: translateX(0)

    &.Close
      transform: translateX(-100%)

@media (min-width: 500px)
  .SideDrawer
    grid-area: s
    transition: width .15s ease-out, visibility .1s ease-out, padding .1s ease-out

    &.Open
      padding: 32px 16px
      width: 300px
      visibility: visible

    &.Close
      width: 0
      padding: 32px 0
      visibility: hidden
