.Layout
  display: grid
  grid-template-columns: auto
  grid-template-rows: 45px auto
  grid-template-areas: "h h h h" "b b b b" "p p p p"

  min-height: 100vh

  background-color: #070b0e
  background-size: cover
  background-position: fixed
  background-repeat: no-repeat
  background-position: right center
  background-image: url('../../assets/space-bg.jpg')

  position: relative

  .Content
    grid-area: b
    padding: 30px 0

@media (min-width: 500px)
  .Layout
    grid-template-columns: min-content auto
    grid-template-areas: "h h h h" "b b b b" "b b b b" "b b b b"
